<%= simple_form_for(@teacher) do |f| %>
<% if @teacher.errors.any? %>
<div class="errors-container">
  <ul>
    <% @teacher.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<!-- [...] all the fields -->
<% end %>
<%= simple_form_for [@teacher] do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.association :subject, as: :select %>
<%= f.input :rate %>
<%= f.input :picture %>
<%= f.input :picture_cache, as: :hidden %>
<%= f.submit "Become a Teacher", class: "btn btn-primary"%>
<% end %>