<div class="flex-container">
  <div class="flex-subject-description">
    <div class="left-column">
      <h3>Subject taught</h3>
      <p><%= @teacher.subject.name.capitalize %></p>
    </div>
    <div class="left-column">
      <h3>Lesson Description</h3>
      <p><%= @teacher.description %></p>
    </div>
  </div>
  <div class="flex-info">
    <div class="right-column">
      <h3><%= name = @teacher.name.split(" ").map { |name| name.capitalize }.join(" ") %></h3>
      <%=  cl_image_tag @teacher.picture, height: 300, width: 300, crop: :fill, class: "teacher-photo" %>
      <!-- <img src="https://via.placeholder.com/300" class="teacher-photo"> -->
    </div>
    <div class="right-column">
      <h3>Calendar</h3>
      <img src="https://via.placeholder.com/300"></div>
    <div class="right-column">
      <h3>Rate</h3>
      <p>My hourly rate is <%= @teacher.rate %></p>
      <p><%= link_to "Book Now!", new_teacher_appointment_path(@teacher), class: "btn btn-primary btn-lg book-now" %></p>
    </div>
  </div>
</div>