<div class="appointments-wrapper">
  <div class="appointments-container">
    <h2>Your appointments</h2>
    <div class="tabs">
      <a href="<%= appointments_path %>" class="tab active" id="learn">Learning</a>
      <a href="<%= teach_path %>" class="tab" id="teach">Teaching</a>
    </div>
    <ul class="inbox">
      <% @appointments.each do  |appointment| %>
      <li class="message">
        <%= link_to appointment_path(appointment)  do %>
        <%=cl_image_tag appointment.teacher.picture, class: "avatar-large" %>
        <% end %>
        <div class="message-name">
          <h3><%=  appointment.teacher.name %></h3>
        </div>
        <div class="message-body">
          <p><strong><%= "Subject: #{appointment.teacher.subject.name}  "  %></strong></p>
          <p>
            <%= "Date: #{appointment.date} "%>
          </p>
        </div>
        <div class="message-status">
          <% case appointment.status %>
          <% when "pending" %>
          <p class="status pending">Pending</p>
          <%when "accepted" %>
          <p class="status accepted">Accepted</p>
          <% when "declined" %>
          <p class="status declined">Declined</p>
          <%end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>