<div class="appointments-wrapper">
  <div class="appointments-container">
    <h1>Your appointments</h1>
    <div class="tabs">
      <a href="<%= appointments_path %>" class="tab" id="learn">Learning</a>
      <a href="<%= teach_path %>" class="tab active" id="teach">Teaching</a>
    </div>
    <ul class="inbox" id="inbox-teaching">
      <% @appointments.each do  |appointment| %>
      <li class="message">
        <%=  image_tag "morty.png", class: "avatar-large" %>
        <div class="message-name">
          <h3><%=  appointment.user.email %></h3>
        </div>
        <div class="message-body">
          <p><strong><%= "Subject: #{appointment.teacher.subject.name}  "  %></strong></p>
          <p>
            <%= "Date: #{appointment.date} "%>
          </p>
        </div>
        <div class="message-status">
          <% case appointment.status %>
          <% when "pending" %>
          <%= link_to "Accept",accept_path(:id => appointment),:method => :patch, class: "btn btn-success btn-sm",id: "accept"  %>
          <%= link_to "Decline", decline_path(:id => appointment),:method => :patch, class: "btn btn-danger btn-sm", id: "decline" %>
          <%when "accepted" %>
          <h5 class="status accepted">You have accepted</h5>
          <% when "declined" %>
          <h5 class="status declined">You have declined</h5>
          <%end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>